# Arquivos gerados durante a compilação LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdy
*.dvi
*.pdfsync
*.bak
*.nav
*.snm
*.thm
*.synctex(busy)
*.synctex.gz(busy)
*.xdv
*.fdb_latexmk
*.fls
*.gz
*.bcf
*.run.xml
*.synctex\(busy\)